*{padding: 0 ; margin: 0 ;}

body {
    text-align: center;
    position:absolute; top: 0%; bottom: 0%; right: 0%; left: 0%;
    background-image: url(white_bground.jpg);
}

.header {
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	width: 100%;
	height: 8%;
	font-size: 4vh;
    padding-top: 1.3vmin;
    color: #fff;
    background-color: #117864;
    border-width: 50px;
}
.instruction{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}
.instructionText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}
.input p{
    padding-left:6px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.input---1
{
    grid-column:1/2 ;
    grid-row:1/3;
}
.input---2
{
    grid-column:2/3 ;
    grid-row:1/3;
    cursor: not-allowed;
}
.grid-container {
    display: grid;
    grid-template-columns:300px 600px 300px;
    grid-template-rows:200px 200px;
    grid-gap: 35px;
    margin: 100px 50px;
    /* padding: 5px; */
  }
  #content11
  {
      margin-top:80px;
  }
  h3{
      text-align: center;
  }

  .input{
      border: 2px solid black;
      background: rgba(210, 235, 255,0.5 );
    overflow: hidden;
  }
  .initialhead {
   background-color: #16A085;
   font-size: 30px;
   color: white;
   /* border: solid; */
  }

  .input2 p{
      text-align: left;
  }
  #operator{
      width: 13rem;
      height: 3rem;
      font-family:'Ubuntu', sans-serif;
  }
  #output p{
      text-align: center;
  }
#result ,#result1
{
    border-radius: 5px;
    margin:0px;
    box-sizing: border-box;
    padding:0;
}
#result
{
    margin-top:-25px;
}
#result1
{
    margin-top:50px;
    font-size: 35px;
}